@{
    ViewData["Title"] = "Lock/Unlock Users";
}

<div class="container p-1 pt-3 mt-0">
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">User List</h2>
    </div>
</div>
<br />
<table id="tableData" class="table table-bordered table-striped display dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
</table>
</div>

@section Scripts{
    <script src="~/js/lockunlockuser.js"></script>
}